h2{
    color: coral;
}

li{
    color: chocolate;
}

.res {
    color: blue;
}

#top{
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 11px #000000;
    font-family: 'Times New Roman', Times, serif;
    background-color: hsla(180, 100%, 50%, 0.5);
}